
/* - richdocument.css - */
@media all {
/* http://tvwillmatshofen.de/portal_css/richdocument.css?original=1 */
/* */
/* */
/* */
.imagesPreviewBox {
border: none;
margin: 0 0 1em 1em;
padding: 0;
overflow: none;
float: right;
}
.imagesPreviewBoxHeader  {
background: #dee7ec;
color: #436976;
border: 1px solid #8cacbb;
border-bottom: none;
padding: 0 1em;
margin: 0;
text-transform: lowercase;
font-size: 90%;
display: block;
font-weight: normal;
white-space: nowrap;
position: relative;
}
.imagesPreviewBoxBody {
padding: 2px 1px 1px 2px;
margin: 0;
border: 1px solid #8cacbb;
border-collapse: collapse;
font-size: 90%;
color: Black;
text-align: center;
overflow: none;
position: relative;
}
.imagesPreviewBoxImage {
margin-bottom: 1px;
text-align: center;
}
.bottomDivider {
border-bottom: 1px solid #8cacbb;
position: relative;
margin-bottom: 1em;
}
.topDivider {
border-top: 1px solid #8cacbb;
position: relative;
}
/* */
.imageFloat {
text-align: center;
float: left;
margin: 0 5px 5px 5px;
}
.imageFloat .caption {
color: #76797c;
text-align: left;
font-size: 85%;
font-weight: normal;
margin-top: 5px;
}
/* */
.draggableIcon {
width:80%;
vertical-align:middle;
background-image:url("../../move_updown.gif");
background-repeat:no-repeat;
background-position:right center;
}
/* */

}

